body {
    background-color: rgb(10, 20, 20);
}
header {
    text-align: center;
    font-size: xx-large;
}
footer {
    text-align: center;
}
p {
    color: rgb(178, 190, 190);
    margin-left: 20px;
    font-family: Arial;
}

h1 {
    color: rgb(178, 190, 190);
    margin-left: 20px;
    font-family: Arial;
}