html {
    justify-content: center;
    background-image: url("../images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: transparent;
}

header {
    text-align: center;
    font-size: xx-large;
}

footer {
    background-color: #444444;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

p {
    color: rgb(178, 190, 190);
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial;
    text-align: justify;
}

h1 {
    color: rgb(178, 190, 190);
    font-family: Arial;
    font-size: 48px;
    text-align: center;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}

h3 {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

.content {
    padding: 0 0 0 0;
    flex: 1 0 auto;
}

.negrito {
    font-weight: bold;
}